<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <%- body %>
</div>

<%- include('../partials/scripts.ejs') %>
<%- script %>
</body>
</html>